/* 首页CSS样式 */

/* 版心居中 */
.wrapper {
    margin: 0 auto;
    width: 1200px;
}

body {
    background-color: #f3f5f7;
}

/* 头部 */
.header {
    height: 100px;
    background-color: #fff;
}
.header .wrapper {
    display: flex;
    padding-top: 30px;
}

/* logo */
.header .wrapper .logo a {
    display: block;
    width: 195px;
    height: 41px;
    background-image: url(../images/logo.png);
    font-size: 0;
    /* 0隐藏文字 */
}

/* 导航 */
.nav {
    margin-left: 102px;
}
.nav ul {
    display: flex;
}
.nav li {
    margin-right: 24px;
}
.nav li a {
    display: block;
    padding: 6px 8px;
    line-height: 27px;
    font-size: 19px;
}

.nav li .active,
.nav li a:hover {
    border-bottom: 2px solid #6765ff;
}

/* 搜索 */
.search {
    display: flex;
    width: 412px;
    height: 40px;
    background-color: #f3f5f7;
    margin-left: 64px;
    font-size: 0;
    padding-left: 19px;
    padding-right: 12px;
    border-radius: 20px;
}
.search input {
    flex: 1;
    border: 0;
    background-color: transparent;
    outline: none;
    /* 去掉表单控件的焦点框 */
}

/* 选中的就是placeholder属性文字样式 */
.search input::placeholder {
    font-size: 14px;
    color: #999;
}

.search a {
    width: 15px;
    height: 16px;
    background-image: url(../images/search.png);
    align-self: center;
}

/* 用户 */
.user {
    margin-left: 32px;
    margin-top: 4px;
}

.user img {
    /* 行内块和行内垂直对齐 */
    vertical-align: middle;
    margin-right: 7px;
    background-color: pink;
    border-radius: 50%;
}

.user span {
    font-size: 16px;
    color: #666;
}

/* banner区域 */
.banner {
    background-color: #0092cb;
    height: 420px;
}

.banner .wrapper {
    display: flex;
    justify-content: space-between;
    height: 420px;
    background-image: url(../uploads/banner.png);
}

/* 侧导航 */
.banner .left {
    padding: 3px 20px;
    width: 200px;
    height: 420px;
    background-color: rgba(0,0,0,0.42);
}

.banner .left a {
    display: block;
    height: 46px;
    background: url(../images/right.png) no-repeat right center;
    line-height: 46px;
    font-size: 16px;
    color: #fff;
}

.banner .left a:hover {
    background-image: url(../images/right-hover.png);
    color: #00a4ff;
}

/* 课程表right */
.banner .right {
    margin-top: 60px;
    width: 205px;
    height: 218px;
    background-color: #209dd5;
    border-radius: 10px;
}

.banner .right h3 {
    margin-left: 14px;
    height: 48px;
    line-height: 48px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.banner .right .content {
    height: 257px;
    background-color: #fff;
    border-radius: 10px;
    padding: 14px;
}

.banner .right dl {
    margin-bottom: 12px;
    border-bottom: 1px solid #e0e0e0;
}

.banner .right dt {
    font-size: 14px;
    margin-bottom: 8px;
    line-height: 20px;
    font-weight: 700;
}

.banner .right dd {
    margin-bottom: 8px;
    font-size: 12px;
    line-height: 16px;
}

.banner .right dd span {
    color: #00a4ff;
}

.banner .right dd strong {
    color: #7e7e7e;
    font-weight: 400;
}

.banner .right a {
    display: block;
    height: 32px;
    background-color: #00a4ff;
    text-align: center;
    line-height: 32px;
    font-size: 14px;
    color: #fff;
    border-radius: 15px;
}

/* recommand */
.recommand {
    margin-top: 12px;
    display: flex;
    height: 60px;
    background-color: #fff;
    box-shadow: 0px 1px 2px 0px rgba(211,211,211,0.5);
    padding: 0 20px;
    line-height: 60px;
}

.recommand h3 {
    font-weight: 400;
    color: #0092cb;
}

.recommand ul {
    display: flex;
    /* 除去前后尺寸都给ul */
    flex: 1;
}

.recommand ul li a:hover {
    color: #0092cb;
}

.recommand ul li a {
    font-size: 18px;
    padding: 0 24px;
    border-right: 1px solid #000;
}

.recommand ul li:last-child a {
    border: none;
}
.recommand .modify {
    font-size: 16px;
    color: #0092cb;
}

/* 精品课程 */
.class {
    margin-top: 15px;
}

/* 标题-公共类与其他区域共用 */
.hd {
    display: flex;
    justify-content: space-between;
    height: 60px;
    line-height: 60px;
}

.hd h3 {
    font-size: 21px;
    font-weight: 400;
}

.hd .more {
    background: url(../images/more.png) no-repeat right center;
    font-size: 14px;
    color: #999;
    padding-right: 20px;
}

/* 课程内容 公共类 */
.bd ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.bd li {
    margin-bottom: 14px;
    width: 228px;
    height: 271px;
    background-color: pink;
}

.bd li .pic {
    height: 156px;
}

.bd li .text {
    padding: 20px;
    height: 115px;
    background-color: #fff;
}

.bd li .text h4 {
    margin-bottom: 13px;
    height: 40px;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.bd li .text p {
    color: #999;
}

.bd li .text p span {
    color: chocolate;
}

.bd li .text p i {
    font-style: normal;
}

/* 前端 */
.hd ul {
    display: flex;
}

.hd li {
    margin-right: 60px;
    font-size: 16px;
}

.hd li .active {
    color: #00a4ff;
}

.bd {
    display: flex;
    justify-content: space-between;
}

.bd .left {
    width: 228px;
    /* background-color: pink; */
}

.bd .right {
    width: 957px;
    /* background-color: pink; */
}

.bd .right .top {
    margin-bottom: 15px;
    height: 100px;
}

.footer {
    margin-top: 60px;
    padding-top: 60px;
    height: 273px;
    background-color: #fff;
}

.footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.footer .left {
    width: 440px;
    /* background-color: pink; */
}

.footer .left p {
    margin-top: 24px;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 17px;
    color: #666;
}

.footer .left .download {
    display: block;
    width: 120px;
    height: 36px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    color: #00a4ff;
}

.footer .right {
    display: flex;
}

.footer .right dl {
    margin-left: 130px;
}

.footer .right dt {
    margin-bottom: 12px;
    font-size: 16px;
    line-height: 23px;
}

.footer .right a {
    font-size: 14px;
    color: #666;
    line-height: 24px;
}